body {
  background: rgb(247, 246, 246);
}

.main-logo {
  display: flex;
  flex: 20%;
}

header {
  width: 100%;
  height: 64px;
  text-align: center;
  background: #282c34;
}

.Img-logo {
  max-height: 100%;
  height: 100%;
}

.Navbar {
  display: flex;
  justify-content: center;
  background: #282c34;
  align-items: center;
}

.Nav-list {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  gap: 2vw;
  justify-content: center;
  font-size: larger;
}

.Navbar-collapse {
  flex: 60%;
}

.jordan, .nike, .adidas {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.log {
  background: rgb(165, 33, 33);
}

a:hover {
  background: rgb(218, 207, 207);
  color: black;
}

.Cart {
  display: flex;
  flex: 20%;
  justify-content: center;
  height: 64px;
  width: 100%;
}

.Img-cart {
  height: 3.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

span {
  display: inline-block;
  width: 20%;
}

.cant-cart {
  color: white;
  font-size: x-large;
  margin: 0;
}

.aviso {
  text-align: center;
}

.cantidad {
  color: black;
  margin: 0;
}

.cards-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
}

.card {
  width: 250px;
  box-shadow: 10px 10px 5px 0px rgba(100, 94, 94, 0.75);
}

.img-card {
  width: 100%;
  height: 100%;
}

.card-desc {
  background-color: rgb(169, 173, 173);
  text-align: center;
  padding: 1rem 0.5rem;
  height: 262px;
}

.cont-button {
  display: flex;
  margin: 0 auto;
  width: 200px;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn- {
  width: 50px;
  height: 30px;
  background: #282c34;
  border-radius: 5px;
  color: white;
}

.btnplus {
  width: 50px;
  height: 30px;
  background: #282c34;
  border-radius: 5px;
  color: white;
}

.btnAdd {
  height: 30px;
  background: #282c34;
  color: white;
  border-radius: 5px;
}


/* solo para desafio martes */

.card-big {
  display:flex;
}

.img-card-big {
  width: 500px;
}

.card-desc-big {
  display: flex;
  flex-wrap: wrap;
}

.price {
  margin: 0 auto;
  flex-wrap: wrap;
}

.pprice {
  font-size: x-large;
}